# Aplicação
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=troque-este-segredo-em-producao-com-uma-string-aleatoria-longa
JWT_EXPIRES_IN=1d

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cursos_db
DB_USER=cursos_user
DB_PASSWORD=cursos_pass

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
